{% extends "index.html" %}

{% block docs %}

  {% for group_name, group in data.byGroupAndType %}

    <h2 id="{{ group_name }}">{{ groups[group_name] }}</h2>

    {% for type, items in group %}
      {% if items.length > 0 %}
      <div id="{{ group_name }}-{{ type }}">

        <h3>{{ (type + 's') }}</h3>

        {% for item in items %}

        <article id="{{ group_name }}-{{ item.context.type }}-{{ item.context.name }}">
          {% include 'includes/annotations/name.html' %}
          {% include 'includes/annotations/deprecated.html' %}
          {% include 'includes/annotations/preview.html' %}

          {% if not item.alias %}

            {% for annotation in display.annotations[item.context.type] %}
              {% set path = 'includes/annotations/' + annotation + '.html' %}
              {% include path %}
            {% endfor %}

          {% else %}
            <p>Refer to <a href="#{{ item.context.type }}-{{ item.alias }}">{{ item.alias }}</a>.</p>
          {% endif %}

        </article>

        {% endfor %}
      </div>

      {% endif %}
    {% endfor %}

  {% endfor %}

{% endblock %}